<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1 th:text="${error}">empty</h1>

<form method="post">
    <label for="username">Username</label>
    <input id="username" name="username" th:value="${username}" type="text"/>
    <br />
    <label for="email">Email</label>
    <input id="email" name="email" th:value="${email}" type="email"/>
    <br />
    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
    <br />
    <label for="verify-password">Verify Password</label>
    <input id="verify-password" name="verify" type="password"/>
    <br />
    <input type="submit" />
</form>

<!--3. type="password for password and verify inputs
type="email" for client-side validation-->

</body>
</html>